<a href="https://colab.research.google.com/github/SondipPoulSingh/Machine-Learning/blob/main/One_Hot_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Datasets/Feature Engineering/cars.csv')

In [ ]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [ ]:
df.shape

(8128, 5)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   brand          8128 non-null   object
 1   km_driven      8128 non-null   int64
 2   fuel           8128 non-null   object
 3   owner          8128 non-null   object
 4   selling_price  8128 non-null   int64
dtypes: int64(2), object(3)
memory usage: 317.6+ KB

In [ ]:
df['fuel'].value_counts()

Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: fuel, dtype: int64

In [ ]:
df['owner'].value_counts()

First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: owner, dtype: int64

In [ ]:
# convert using pandas
dummy_df = pd.get_dummies(df, columns=['fuel','owner'], drop_first=True)
dummy_df
# dropping so that models dont find unnecessary patters as example sum of all row becomes 1
# above problem known as multicolinearity problem
# we dont use pandas to get one hot cause pandas dont remember the order.
# In the second run it may give different encoding

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,1,0,0,0,0,0,0
1,Skoda,120000,370000,1,0,0,0,1,0,0
2,Honda,140000,158000,0,0,1,0,0,0,1
3,Hyundai,127000,225000,1,0,0,0,0,0,0
4,Maruti,120000,130000,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,1,0,0,0,0
8124,Hyundai,119000,135000,1,0,0,1,0,0,0
8125,Maruti,120000,382000,1,0,0,0,0,0,0
8126,Tata,25000,290000,1,0,0,0,0,0,0
8127,Tata,25000,290000,1,0,0,0,0,0,0

In [ ]:
dummy_df.shape

(8128, 10)

In [ ]:
# convert fuel by one hot encoding
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [ ]:
X = df.iloc[:,0:4]
y = df['selling_price']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=83)

In [ ]:
X_train.shape, X_test.shape

((6502, 4), (1626, 4))

In [ ]:
ohe = OneHotEncoder(drop='first',sparse=False, dtype=np.int32)
# sparse true means sparse matrix 
# if true use toarray() to convert into numpy array
# dtype int cause float takes more memory (optional)

In [ ]:
X_train_new = ohe.fit_transform(X_train[['fuel','owner']])

In [ ]:
X_train_new

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 1, 0, 0]], dtype=int32)

In [ ]:
X_train_new.shape

(6502, 7)

In [ ]:
X_test_new = ohe.transform(X_test[['fuel','owner']])

In [ ]:
new_data = np.hstack((X_train[['brand','km_driven']].values, X_train_new))

In [ ]:
new_data

array([['Hyundai', 50000, 1, ..., 0, 0, 0],
       ['Chevrolet', 139000, 1, ..., 0, 0, 0],
       ['Hyundai', 50000, 1, ..., 0, 0, 0],
       ...,
       ['Hyundai', 56290, 1, ..., 0, 0, 0],
       ['Jeep', 32000, 1, ..., 0, 0, 0],
       ['Hyundai', 30000, 0, ..., 1, 0, 0]], dtype=object)

In [ ]:
# converting the brand
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [ ]:
filt = (df['km_driven']>=400000)

In [ ]:
df[filt]

         brand  km_driven    fuel         owner  selling_price
1810  Mahindra    1500000  Diesel   First Owner         500000
3486   Hyundai    2360457  Petrol  Second Owner         550000
3508    Maruti     577414  Petrol  Second Owner         194000
3641    Maruti     500000  Petrol  Second Owner         229999
5106  Mahindra     475000  Diesel   Third Owner         400000
5189    Toyota     440000  Diesel  Second Owner         750000
5467    Toyota     426000  Diesel   First Owner         950000
6673    Toyota     500000  Diesel  Second Owner         350000

In [ ]:
filt2 = ((df['km_driven']>=400000) & (df['owner'] == 'First Owner'))
df[filt2]

         brand  km_driven    fuel        owner  selling_price
1810  Mahindra    1500000  Diesel  First Owner         500000
5467    Toyota     426000  Diesel  First Owner         950000

In [ ]:
df.loc[filt2,['brand','fuel']]

         brand    fuel
1810  Mahindra  Diesel
5467    Toyota  Diesel

In [ ]:
val = df['brand'].value_counts() >=100 #returns a Series

In [ ]:
val['Maruti']

True

In [ ]:
brand_new = []
for brand in df['brand']:
  if(val[brand]==False):
    brand_new.append('Others')
  else:
    brand_new.append(brand)

In [ ]:
df['brand_new']=brand_new
df.head()

     brand  km_driven    fuel         owner  selling_price brand_new
0   Maruti     145500  Diesel   First Owner         450000    Maruti
1    Skoda     120000  Diesel  Second Owner         370000     Skoda
2    Honda     140000  Petrol   Third Owner         158000     Honda
3  Hyundai     127000  Diesel   First Owner         225000   Hyundai
4   Maruti     120000  Petrol   First Owner         130000    Maruti

In [ ]:
df.drop('brand',axis=1,inplace=True)

In [ ]:
df.head()

   km_driven    fuel         owner  selling_price brand_new
0     145500  Diesel   First Owner         450000    Maruti
1     120000  Diesel  Second Owner         370000     Skoda
2     140000  Petrol   Third Owner         158000     Honda
3     127000  Diesel   First Owner         225000   Hyundai
4     120000  Petrol   First Owner         130000    Maruti

In [ ]:
df['brand_new'].value_counts()

Maruti        2448
Hyundai       1415
Mahindra       772
Tata           734
Others         538
Toyota         488
Honda          467
Ford           397
Chevrolet      230
Renault        228
Volkswagen     186
BMW            120
Skoda          105
Name: brand_new, dtype: int64

In [ ]:
# now we can apply the same process used to get one hot
# First perform some EDA 
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [ ]:
# https://colab.research.google.com/drive/1elOweJGpdqQ0C0jX9kRiJUFEPPZOBQBQ#scrollTo=5JDOCeeTGwwE
!pip uninstall pandas-profiling

In [ ]:
!pip install pandas-profiling[notebook,html]

In [ ]:
import pandas as pd
import pandas_profiling
from pandas_profiling import ProfileReport
from pandas_profiling.utils.cache import cache_file

In [ ]:
from pandas_profiling import ProfileReport

In [ ]:
pandas_profiling.__version__

'v3.6.2'

In [ ]:
profile = ProfileReport(df, title="Titanic Dataset", html={'style': {'full_width': True}}, sort="asceding")
#profile

In [ ]:
profile.to_notebook_iframe()

In [ ]:
profile.to_file(output_file="carsEDA.html")

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [ ]:
df.head()

   km_driven    fuel         owner  selling_price brand_new
0     145500  Diesel   First Owner         450000    Maruti
1     120000  Diesel  Second Owner         370000     Skoda
2     140000  Petrol   Third Owner         158000     Honda
3     127000  Diesel   First Owner         225000   Hyundai
4     120000  Petrol   First Owner         130000    Maruti

In [ ]:
# The Question is if i do one hot to the categorical columns then all becomes 0 and 1
# only one column left is km_driven and the values are big
# Mixed in categorical and numerical can follow the link
# https://inria.github.io/scikit-learn-mooc/python_scripts/03_categorical_pipeline_column_transformer.html

In [ ]:
from sklearn.compose import make_column_selector as selector

numerical_columns_selector = selector(dtype_exclude=object)
categorical_columns_selector = selector(dtype_include=object)

numerical_columns = numerical_columns_selector(df)
categorical_columns = categorical_columns_selector(df)

In [ ]:
numerical_columns, categorical_columns

(['km_driven', 'selling_price'], ['fuel', 'owner', 'brand_new'])

In [ ]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler

categorical_preprocessor = OneHotEncoder(handle_unknown="ignore")
numerical_preprocessor = StandardScaler()

In [ ]:
from sklearn.compose import ColumnTransformer

preprocessor = ColumnTransformer([
    ('one-hot-encoder', categorical_preprocessor, categorical_columns),
    ('standard_scaler', numerical_preprocessor, numerical_columns[0])])

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline

model = make_pipeline(preprocessor, LinearRegression())
model

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('one-hot-encoder',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['fuel', 'owner',
                                                   'brand_new']),
                                                 ('standard_scaler',
                                                  StandardScaler(),
                                                  'km_driven')])),
                ('linearregression', LinearRegression())])

In [ ]:
df.head(2)

   km_driven    fuel         owner  selling_price brand_new
0     145500  Diesel   First Owner         450000    Maruti
1     120000  Diesel  Second Owner         370000     Skoda

In [ ]:
from sklearn.model_selection import train_test_split
X = df.iloc[:,[0,1,2,4]]
y = df['selling_price']
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=83)

In [ ]:
X_train.shape, X_train[0:2]

((6502, 4), array([[50000, 'Diesel', 'First Owner', 'Hyundai'],
        [139000, 'Diesel', 'First Owner', 'Chevrolet']], dtype=object))